{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src" //~ replace for ./src: '~/App.js'
                }
            }
        ]
    ]
}